<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card">
      <h4 class="card-header">Login</h4>
      <div class="card-body">
        <form [formGroup]="loginForm">
          <div class="form-group">
            <label>Username</label>
            <input type="text" formControlName="username" class="form-control"/>
          </div>
          <div class="form-group">
            <label>Password</label>
            <input type="password" formControlName="password" class="form-control" />
          </div>
          <div class="form-group">
            <button class="btn btn-primary mr-3" (click)="login()">
              <span class="mr-1"></span>
              Login
            </button>
            <button class="btn btn-primary" (click)="createAccount()">
              <span class="mr-1"></span>
              Dodaj konto
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>



